@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('estilos.css');


section{
    margin: 40px 200px;
}

section div h3{
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}

section div p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.card-add{
    background-color: var(--mainColor);
    border-radius: 30px;
    margin: auto;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Inter', sans-serif;
}

.div1, .div2{
    display: inline-block;
}

.div1{
    width: 42%;
    height: 100%;
    margin: 0 55px 0 90px;
    font-family: 'Inter', sans-serif;
}

.div2{
    width: 42%;
    margin: 0 0px 0px -70px;
    position: absolute;
}

.div1 input,
.div1 textarea,
.div1 label{
    width: 350px;
    height: 65px;
    padding: 15px;
    margin: 25px 5px;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}


.div1 input,
.div1 textarea{
    border: 1px solid var(--mainColor);
}

.div1 input[type=text],
input[type=date]{
    font-family: 'Inter', sans-serif;
}

.div1 input[type=date]{
    font-size: 13px;
}

.div1 input[type=date]:hover{
    background-color: #c9bfbf;;
    transition: 0.3s;
}

.div1 input[type=text]{
    font-size: 20px;
}

.div1 input[type=text]:hover{
    background-color: #c9bfbf;;
    transition: 0.3s;
}

.div1 textarea{
    height: 340px;
    width: 350px;
    resize: none;
    font-size: 15px;
}

.div1 textarea:hover{
    background-color: #c9bfbf;;
    transition: 0.3s;
}

.div1 label{
    color: white;
    font-size: 20px;
    margin-left: -10px;
}

.div2 select{
    padding: 15px;
    margin: 25px 5px;
    width: 350px;
    height: 65px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--mainColor);
}


.div2 input[type=file],
#foto, 
#list-especie{
    width: 100%;
    padding: 15px;
    margin: 25px 5px;
}


fieldset{
    margin: 15px 0px 6px 0px;
    border: none;
    padding-top: 13px;
    padding-bottom: 20px;
}

.div2 input[type=radio],
.div2 input[type=checkbox]{
    width: 24px;
    height: 20px;
}

#Especie option{
   font-family: 'Inter';
   font-size: 20px;
   background-color: white;
}

#Especie:hover{
    background-color: #c9bfbf;;
    transition: 0.3s;
}

#Especie{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

#foto, #list-especie{
    color: white;
    font-size: 20px;
    margin-left: -5px;
    margin-bottom: 30px;
    font-family: 'Inter';
}

#titulo-fieldset{
    color: white;
    font-size: 20px;
    font-family: 'Inter';
    padding-left: 10px;
    
}

#poderes1,#poderes2,#poderes3,#poderes4,#personaje1,#personaje2{
    margin: 10px;
}

.radio-check{
    font-family: 'Inter';
    color: white;
    font-size: 16px;
    
}

input[type=submit]{ 
    display: inline-block;       
    background-color: var(--descBackgroundColor);
    border: 1px solid var(--descBackgroundColor);
    width: 470px;
    margin: 15px 0px 18px 250px;
    height: 90px;
    border-radius: 25px;
    font-size: 40px;
    font-weight: bolder;
} 

input[type=submit]:hover {
    background-color:#001D2D;
    color: white;
    transition: 0.8s;
    border-color: #001D2D;
}